.new-pass-page{
    height: 100vh;
    width: 100vw;
    background-color:  #CFE3F9;
}

.logo-div img{
    height: 30px;
    padding-top: 30px;
    padding-left: 40px;
}

.new-pass-div{
    height: 85vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.new-pass{
    border-radius: 20px;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 375px;
    height: 375px;
}

.new-pass p{
    margin: 0px;
}

.welcome-img{
    margin-top: 20px;
    margin-bottom: 20px;
}

.welcome-img img{
    height: 25px;
}

.greet-text{
    font-size: small;
}

.new-pass-form{
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 300px;
}

.form-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.new-pass-form input {
  width: 250px;
  height: 30px;
  border: 1px solid rgb(208, 204, 204);
  border-radius: 5px;
  margin-top: 5px;
  margin-left: 25px;
  padding: 2px;
}

.new-pass-form label {
  margin-left: 0px;
  margin-left: 25px;
  font-size: medium;
}

.new-pass-btn{
    width: 250px;
    height: 40px;
    border: none;
    background-color: #69b5f8;
    color: white;
    border-radius: 10px;
    font-size: medium;
    margin-bottom: 10px;
    cursor: pointer;
}

.have-acc{
    font-size: small;
    margin: 10px !important;
}

.forgot-pass{
    text-align: right;
    font-size: small;
    color: #0357a1;
    margin-right: 20px !important;
    cursor: pointer;
}

.new-pass h3{
    margin-top: 30px;
    font-weight: 450;
    margin-bottom: 20px;
}

.new-pass-btn:disabled {
  background-color: #ccc;
  cursor: not-allowed;
  opacity: 0.6;
}