.profile-container {
  display: flex;
  height: 100vh;
}

.profile-sidebar {
  width: 200px;
  background: #f5f5f5;
  padding: 20px;
  border-right: 1px solid #ddd;
}

.user-info {
    display: flex;
    /* align-items: center; */
    /* justify-content: center; */
  text-align: center;
  margin-top: 40px;
  margin-bottom: 40px;
  margin-right: 35px;
  gap: 10px;
  /* border: 2px solid black; */
  width: 100%;
}

.user-initials {
  background: #ccc;
  border-radius: 50%;
  width: 60px;
  height: 50px;
  line-height: 60px;
  margin: 0 auto;
  font-size: 20px;
  font-weight: bold;
  color: #333;
  display: flex;
  align-items: center;
  justify-content: center;
}

.username {
  margin-top: 10px;
  font-weight: bold;
}

.email {
  font-size: 14px;
  color: #666;
}

.profile-menu {
  margin-top: 20px;
}

.profile-menu-item {
  padding: 10px 0;
  cursor: pointer;
  color: #333;
}


.logout {
  color: red;
}

.profile-content {
  /* flex-grow: 1; */
  /* padding: 40px; */
  background-color: #fff;
  /* border: 1px solid black; */
  width: calc(95vw - 200px) !important;
}

.pc{
    border: 1px solid black;
    height: 95vh;
    width: 100%;
    /* padding: 40px; */
    margin: 10px;
    border-radius: 10px;
}
.p{
    width: 50%;
    padding: 20px;
}

.profile-content h1 {
  font-size: 28px;
  margin-bottom: 20px;
}

.top-section {
  display: flex;
  align-items: center;
  border-bottom: 1px solid #ccc;
  padding-bottom: 20px;
  
}

.user-circle {
  background-color: #ccc;
  border-radius: 50%;
  width: 70px;
  height: 70px;
  text-align: center;
  line-height: 70px;
  font-size: 22px;
  font-weight: bold;
  margin-right: 20px;
  color: #333;
}

.details .username {
  font-size: 18px;
}

.details .email {
  color: #666;
  font-size: 14px;
}

.info-table {
  margin-top: 30px;
}

.row {
  display: flex;
  justify-content: space-between;
  padding: 10px 0;
  border-bottom: 1px solid #eee;
  font-size: 15px;
}

.button-group {
  margin-top: 30px;
}

.save-btn {
  background-color: #007bff;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  margin-right: 10px;
  cursor: pointer;
}

.discard-btn {
  background-color: #ccc;
  color: black;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.my-profile, .seeting{
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: 10px;
    justify-content: space-between;
}

.se, .pr, .logout{
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: 10px;
}
